@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital@1&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: #f4f4f4;
    text-decoration: none;
}
a:hover{
    color: orange;
}
a:active{
    color: purple;
}
.container{
    margin: 0;
    padding: 40px;
    overflow: hidden; 
    color: white;
    background-image: url('../assets/background\ image.jpg');
    background-repeat: none;
    background-size: cover;
    height:100vh;
   /* background-color: #f0f0f0; */
}

#respFlex{
    margin:100px 200px;
    display: flex;
    flex-shrink: 0;
}
#profilePic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 3px skyblue;
}
#name{
    font-family:'Lato',sans-serif ;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 4px;
}
.person{
    margin: 55px 15px;
}
#profession{
    font-family:'Open Sans',sans-serif;
    font-size: 1.6rem;
    margin: 15px 20px;

}
#navBar{
    font-family: 'Lato',sans-serif;
    font-weight: 600;
    display: flex;
    gap: 50px;
    margin-left: 300px;
    border-top: solid 5px #f4f4f4;
    border-bottom: solid 2px #f4f4f4;
    width: fit-content;

}
.navTitles{
    padding: 10px 30px;
    letter-spacing: 2px;
    color:#f4f4f4;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.navTitles:hover{
    color:orange;
    transform: scale(1.3);
}

.articleHeaders{
    margin: 15px 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.6;
    color: blue;
    letter-spacing: 2px;
}
#articleCont{
    font-size: 20px;
    font-weight: 500;
    opacity: 0.7;
    font-family: 'Lato';
    line-height: 1.3em;

}
.inputLabels{
    font-size: 20px;
    font-weight: 600;
    font-family:'Open Sans';
    color:hsl(0, 0%, 20%);
    display: block;
}
.inputLabels::after{
    content: "*";
    color: purple;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
.inputs{
    display: block;
    margin: 10px;
    padding: 12px;
    border:2px solid hsl(0, 0%, 60%);
    width: 300px;
    border-radius: 9px;
}
.inputs:focus{
    border-color:hsl(210, 100%, 50%);
    outline: none;
}
#flexInputs{
    display: flex;
    align-items: center;
    gap: 30px;
}
.flexItem{
    flex-shrink: 0;
}
input[type="submit"] {
    background-color:purple; 
    color: #fff; 
    padding: 10px 15px; 
    font-size: 16px; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px;
    font-weight: 500;
    margin: 20px 400px;
}
#contPanel{
    margin:0px 0px 0px 150px;
}
.icons{
    width: 40px;
    height: 40px;
    margin: 15px;
}
#phoneLook{
    display: flex;
    align-items: center;
}
#phoneNo{
    font-family: 'Lato';
    font-weight: bold;
}
#iconContainer{
    margin-left: 300px;
}

@media (max-width: 768px){
    #profilePic{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    #respFlex{
    display: flex;
    flex-direction: column;
    margin: 0px auto ;
  }
  .person{
    flex-shrink: 9;
  }
  .articleHeaders{
    margin: 15px 150px;
  }
  #flexInputs{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
    gap: 30px;
  }
  .container{
    margin: 0;
    padding: 40px;
    overflow: hidden; 
    color: white;
    background-image: url(../assets/background\ image.jpg);
    background-repeat: none;
    background-size: cover;
    height:110vh;
   /* background-color: #f0f0f0; */
 }
 #navBar{
    gap: 10px;
    margin: 50px auto;
 }
 input[type="submit"] {
    margin: 20px auto;
 }
 #iconContainer{
    display: flex;
    margin: 0px auto;
 }
 #name{
   color:#fff;
 }
 .navTitles:hover{
    color: purple;
 }

 
}
